name: grammY

on:
    push:
        branches: [main, v2]
    pull_request:
        branches: [main, v2]

jobs:
    format-lint-typecheck:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: denoland/setup-deno@v2
              with:
                  deno-version: v2.5.x
                  cache: true
            - run: deno fmt --check
            - run: deno lint
            - run: deno check
    test:
        runs-on: ${{ matrix.os }} # runs a test on Ubuntu, Windows and macOS
        strategy:
            matrix:
                os: [macOS-latest, windows-latest, ubuntu-latest]
        steps:
            - uses: actions/checkout@v4
            - uses: denoland/setup-deno@v2
              with:
                  deno-version: v2.5.x
                  cache: true
            - run: deno task test
