# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# This workflow will install Deno and run tests across stable and nightly builds on Windows, Ubuntu and macOS.
# For more information see: https://github.com/denolib/setup-deno

name: Deno

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  backport:
    runs-on: ubuntu-latest
    steps:
      - name: Run backporting script
        run: ./backport --full
        working-directory: node-backport
    
  test:
    runs-on: ${{ matrix.os }} # runs a test on Ubuntu, Windows and macOS

    strategy:
      matrix:
        os: [macOS-latest, windows-latest, ubuntu-latest]

    steps:
      - name: Setup repo
        uses: actions/checkout@v2
        
      - uses: denoland/setup-deno@main
        with:
          deno-version: v1.x

      - name: Cache Dependencies
        run: deno cache src/platform.ts
        working-directory: deno

      - name: Run Tests
        run: deno test --allow-env
        working-directory: deno
